# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/icon.png

# gradle
build
.gradle

# other
eclipse
run
.kotlin
docs
libs

# reference source clone (per CLAUDE.md)
GregTech
